<div class="container-fluid mt-2">
    <div class="container">
        <div class="row rounded overflow-hidden shadow-sm">
            <!-- Cột trái: Thông tin + hình ảnh -->
            <div class="col-md-8 p-4 bg-light">
                <% if (event.cover_image) { %>
                    <img src="<%= event.cover_image %>" alt="Ảnh bìa" width="300">
                <% } %>
                
                <% if (event.banner_image) { %>
                    <img src="<%= event.banner_image %>" alt="Ảnh banner" width="600">
                <% } %>
                <p>
                    <%= event.description || 'Không có mô tả.' %>
                </p>
            </div>
                

            <!-- Cột phải: Chi tiết khóa học -->
            <div class="col-md-4 p-4" style="border-left: 2px dotted #ccc; text-align: center;">

                <h3 style="font-size: 28px; color: rgb(0, 166, 255); font-weight: bold;">
                    <%= event.name %>
                </h3>
                <br>
                
                <h6 class="fw-bold">Danh mục: <%= event.category || "Chưa có" %></h6>
                <ul class="small ps-3 mb-3">
                    Thời gian:
                    <%= event.start_time.toLocaleString("vi-VN") %>
                    -
                    <%= event.end_time.toLocaleString("vi-VN") %>
                </ul>

                <h6 class="fw-bold">Địa điểm: <%= event.location %></h6>
                <button
                    style="background-color: white; color: #007bff; border: 2px solid #007bff; padding: 10px 20px; border-radius: 6px; cursor: pointer;">
                    Tham gia ngay!
                </button>
            </div>
        </div>
    </div>
</div>